<style>
     
  ion-content{
    --background: #050000ef;
  }
  ion-toolbar{
    --background: #ffffff;
  }
  ion-header{
    --background: #050000ef;
  
  }
  ion-button{
    --background: #990707;
  
  }
  ion-item{
    --background: #f7f1f1;
  }
  ion-content {
  --background: url(../../assets/4.png) no-repeat center/cover fixed;
  }

</style>

<ion-content [translucent]> 
<br>
<br>
<br>
<ion-button href="jobs" style= "color:#150909ef; border-radius:30%;float:center; width:80px;height:20px;">Back</ion-button>
<ion-header>
<center><ion-title><b>Job Details</b></ion-title></center>
</ion-header>

<br>
<center><Img src="/assets/site.png" style="border-radius:30%;float:left; width:60px;height: 60px;margin-right: 10%;"></center>

  <h1 style="color:black"><b>Site RSVN Staff</b></h1>


  <ion-button style="border-radius:30%;float:right; width:95px;height:35px; color:rgb(255, 255, 255)"><b>Apply Now</b></ion-button>


    <center><ion-label  style="margin-left:10%; color:black">Job post Expired in 3 days</ion-label></center>
    <br>
    <ion-label style="  margin-left: 10%; color:black"><b>Employment</b></ion-label><ion-label style ="float:right; margin-right: 20%;"><b>Day Rate</b></ion-label> 
    <br>
  <ion-label style=" margin-left: 10%; color:black">Full-time</ion-label><ion-label style="float:right; margin-right: 30%;">600 </ion-label> 
    <br>
    <br>
    <ion-icon name="location-outline" class="loc"></ion-icon> &nbsp; Borland Development Corporation
    <br>
    <br>
    <ion-icon name="home-outline" class="home"></ion-icon> &nbsp; Batangas City, Batangas
    <br>
  <ion-label style=" margin-left: 1%; color:black"><h5><b>Qualifications<br></b></h5></ion-label> <ion-label  style="float:left; margin-left: 10%;"><h5>- Must be atleast college graduate</h5></ion-label> 
  <ion-label  style="float:left; margin-left: 10%;"><h5>- Willing to report on project sites</h5></ion-label>
  <ion-label  style="float:left; margin-left: 10%;"><h5>- Possess good interpersonal and communication skills</h5></ion-label>
  <ion-label style=" margin-left: 30%; color:black"><h5><b>Requirements<br></b></h5></ion-label> 
  <ion-label style="float:left;margin-left: 10%;"><h5>- Customer Service experience</h5></ion-label> 
  <ion-label style="float:left; margin-left: 10%;"><h5>- Flexible working hours</h5></ion-label> 
  <ion-label style="float:left; margin-left: 10%;"><h5>- Multitasking and time management skills with the ability to prioritize tasks</h5></ion-label>  
    
    





