<ion-content [translucent]> 
  <style>
     
      ion-content{
        --background: #050000ef;
      }
      ion-toolbar{
        --background: #ffffff;
      }
      ion-header{
        --background: #050000ef;
      
      }
      ion-button{
        --background: #f1e6f1;
      
      }
      ion-item{
        --background: #f7f1f1;
      }
      ion-content {
      --background: url(../../assets/3.jpg) no-repeat center/cover fixed;
      }
    
  </style>
   
      
      
      <br>
      <br>
      <br>
      <br>
      <br>
     <ion-label>
         <center><h1><b> WELCOME! </b></h1></center>
         <center><p><i><b> Login your Account! </b></i></p></center>
     </ion-label>
     <ion-card-content>
     
      <br>
      <br>
      

        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label><b>Email</b></ion-label>
      <ion-item>
        <ion-input type="email"></ion-input>
      </ion-item>
      <br>
     
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label><b>Password</b></ion-label>
      <ion-item>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
    

      <br>
      <br>

     
      <center><ion-button href="jobs" style= "color:#0e0c0cef; border-radius:30%;float:center; width:170px;height:40px;">LOGIN</ion-button></center>
      
        </ion-card-content>



   