<ion-header translucent><br>

  <ion-button href="jobs" style= "color:#150909ef; border-radius:30%;float:center; width:80px;height:20px;">Back</ion-button>

        <ion-searchbar placeholder="Search Jobs"></ion-searchbar>
      </ion-header>
      <ion-content fullscreen>
        <ion-list>
          <ion-item type="button" href="cash"> Cashier </ion-item>
          <ion-item type="button" href="bart">Bartender</ion-item>
          <ion-item type="button" href="jan">Janitor</ion-item>
          <ion-item type="button" href="call">Call Center</ion-item>
          <ion-item type="button" href="acc">Accounting Staff</ion-item>
          <ion-item type="button" href="field">Feild Technician</ion-item>
          <ion-item type="button" href="nurse">Project Nurse</ion-item>
          <ion-item type="button" href="crew">Service Crew</ion-item>
          <ion-item type="button" href="site">Site Reservation Staff</ion-item>
          <ion-item type="button" href="sales">Sales Consultant</ion-item>



         


          
        </ion-list>
      </ion-content>