<ion-content [translucent]> 
    
         
         <br>
         <br>
         <br>
         
         
         <br>
         <br>
         <br>
         <br>
         <br>
        <ion-label>
            <center><h1><i><b>Just Work App </b></i></h1></center>
            <center><h1><i><b>Click to Grind</b></i></h1></center>

        </ion-label>
        <br>
        <br>
        
        <br>
        <br>

  <center><ion-button href="wel" style= "color:#0e0c0cef; border-radius:30%;float:center; width:170px;height:40px;">LOGIN</ion-button></center>
        <br>
        <br>
  <center><ion-button href="create" style="color:#0e0c0cef; border-radius:30%;float:center; width:170px;height:40px;"> SIGN UP</ion-button></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    
    <Img src="/assets/job.png" style="border-radius:30%;float:right; width:50px;height:40px;">
