<style>
     
  ion-content{
    --background: #050000ef;
  }
  ion-toolbar{
    --background: #ffffff;
  }
  ion-header{
    --background: #050000ef;
  
  }
  ion-button{
    --background: #990707;
  
  }
  ion-item{
    --background: #f7f1f1;
  }
  ion-content {
  --background: url(../../assets/4.png) no-repeat center/cover fixed;
  }

</style>

<ion-content [translucent]> 
<br>
<br>
<br>
<ion-button href="jobs" style= "color:#150909ef; border-radius:30%;float:center; width:80px;height:20px;">Back</ion-button>
<ion-header>
<center><ion-title><b>Job Details</b></ion-title></center>
</ion-header>

<br>
<center><Img src="/assets/crew.png" style="border-radius:30%;float:left; width:60px;height: 60px;margin-right: 10%;"></center>

  <h1 style="color:black"><b>Service Crew</b></h1>


  <a href="prof"><ion-button style="border-radius:30%;float:right; width:95px;height:35px; color:rgb(255, 255, 255)"><b>Apply Now</b></ion-button></a>


    <center><ion-label  style="margin-left:10%; color:black">Job post Expired in 2 days</ion-label></center>
    <br>
    <ion-label style="  margin-left: 10%; color:black"><b>Employment</b></ion-label><ion-label style ="float:right; margin-right: 20%;"><b>Day Rate</b></ion-label> 
    <br>
  <ion-label style=" margin-left: 10%; color:black">Full-time</ion-label><ion-label style="float:right; margin-right: 30%;">570 </ion-label> 
    <br>
    <br>
    <ion-icon name="location-outline" class="loc"></ion-icon> &nbsp; Eliver Multi Purpose Cooperative
    <br>
    <ion-icon name="home-outline" class="home"></ion-icon> &nbsp; Brgy. Road Batangas City, Batangas

  <ion-label style=" margin-left: 1%; color:black"><h5><b>Qualifications<br></b></h5></ion-label> <ion-label  style="float:left; margin-left: 1%;"><h5>- Frequently interact with customers and other crew members, which requires excellent verbal communication skills</h5></ion-label> 
  <ion-label  style="float:left; margin-left: 1%;"><h5>- No experienced required</h5></ion-label>
  <ion-label  style="float:left; margin-left: 1%;"><h5>- College Graduate or Senior Highschool Graduate</h5></ion-label>  
  <ion-label style=" margin-left: 30%; color:black"><h5><b>Requirements<br></b></h5></ion-label> 
  <ion-label style="float:left;margin-left: 10%;"><h5>- Highschool diploma with relevant experience</h5></ion-label> 
  <ion-label style="float:left; margin-left: 10%;"><h5>- Friendly, reliable and punctual</h5></ion-label> 

    
    
    





